/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Source Code Pro', monospace;
  color: #1f1f1f;
}

.bg-warning {
  background-color: #ffc107;
}

.border-warning {
  border: 1px solid #ffc107;
}

a:not(.btn) {
  &:hover {
    cursor: pointer;
    color: #dc3545 !important;
  }
}

.card {
  &:hover {
    border-color: #dc3545;
  }
}

hr {
  border: 1px solid #ffc107;
}
